body {
	background-image: url(images/iStock-\ 1190846915.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	image-rendering: optimizeSpeed;
	/* filter: brightness(20%); */
}

/* ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

li {
	float: right;
}

li a {
	display: block;
	padding: 8px;
	color: white;
	text-decoration: none;
}

li a:hover {
	display: block;
	padding: 8px;
	color: black;
	background-color: lightgrey;
	text-decoration: none;
} */
